resources/
build/
lib/
.vs/
_deps/
build-*/
.build-*/
.build*/
linux-bin/
*Config.h

CMakeSettings.json

*.html
*.rar
*.zip

*.doc
*.docx
*.ppt
*.pptx

*.filters
*.vcxproj
*.log
*.sln
*.user
*.dll
*.lib
*.ilk
*.pdb
/.vscode/settings.json
